.setBackgroundPosition(@x, @y) {
  background-position: @x @y;
}

.setListItemSprite(@x, @y) {
  a span {
    .setBackgroundPosition(@x, @y);
  }
}

.menu-list-item-hover {
  background-color: #ffe4dc;
  color: #ff5000;
  a {
    color: #ff5000;
  }
}

.more-z-index-bar {
  position: absolute;
  top: 0;
  left: 188px;
  z-index: 999;
  width: 709px;
  height: 518px;
  border: 2px solid #f94a14;
  -webkit-box-shadow: 2px 2px 0 #dcdadb;
  -moz-box-shadow: 2px 2px 0 #dcdadb;
  box-shadow: 2px 2px 0 #dcdadb;
  background-color: #ffffff;
  color: #333333;
  font-size: 12px;
  opacity: 0;
  overflow: hidden;
  .each-page {
    height: 100%;
    padding-left: 18px;
    overflow: hidden;

    > .service-fi-links {
      width: 415px;
      height: 490px;
      padding: 10px 12px 0 10px;
      float: left;
      overflow: hidden;

      > .service-panel {
        h5 {
          position: relative;
          height: 36px;
          line-height: 36px;
          font-size: 16px;
          color: #333;

          a {
            position: absolute;
            color: #3C3C3C;
            cursor: pointer;
            text-decoration: none;

            &:hover {
              color: #ff5000;
            }
          }

          span {
            position: absolute;
            font-size: 12px;
            right: 0;
            font-weight: 400;
            cursor: pointer;
            top: 0;
            &:hover {
              color: #ff5000;
            }
          }
        }

        p {
          height: 104px;
          padding-bottom: 33px;
          overflow: hidden;

          a {
            display: inline-block;
            height: 25.6px;
            line-height: 26px;
            margin-right: 13px;
            white-space: nowrap;
            font-size: 12px;
            color: #666666;

            &.h {
              color: #ff5000!important;
            }
          }
        }
      }
    }

    > .service-rmd {
      border-left: 1px solid #f4f4f4;
      width: 253px;
      height: 498px;
      padding-top: 20px;
      float: left;

      h3 {
        line-height: 18px;
        color: #333;
        font-size: 14px;
        text-align: center;
        font-weight: 400;
      }

      a {
        display: block;
        width: 97px;
        height: 143px;
        padding: 10px 0 0 20px;
        overflow: hidden;
        float: left;

        img {
          width: 98px;
          height: 97px;
          display: inline-block;
        }

        h5 {
          height: 26px;
          line-height: 26px;
          font-size: 12px;
          overflow: hidden;
          font-weight: 400;
          text-align: center;
          color: #999;
          -webkit-transition: all .2s;
          -moz-transition: all .2s;
          -o-transition: all .2s;
          transition: all .2s;
        }

        &:hover {
          h5 {
            color: #ff4400;
          }
        }
      }
    }
  }
  &.active {
    opacity: 1;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -ms-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
  }
}

.main-menu {
  > .container {
    height: 522px;
    //background-color: rgba(0, 0, 0, .3);

    > .display-dist {
      float: left;
      height: 100%;
      width: 900px;

      > .menu-list {
        float: left;
        height: 100%;
        width: 190px;
        position: relative;

        ul {
          padding: 5px 0 3px 0;
          border: 1px solid #ff5000;
          border-top: none;
          background-color: #ffffff;
          position: relative;

          li {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 0 19px 0 25px;
            height: 32px;
            line-height: 32px;
            -webkit-transition: background-color .2s;
            -moz-transition: background-color .2s;
            -ms-transition: background-color .2s;
            -o-transition: background-color .2s;
            transition: background-color .2s;

            a {
              font-size: 14px;
              font-weight: 400;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }

      > .goods-show {
        height: 100%;
        position: relative;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-left: 190px;

        > .rotation-charts {
          float: left;
          width: 520px;
          height: 512px;
          padding: 10px 0 0 10px;

          > .adv-rotation {
            width: 520px;
            height: 280px;
            position: relative;
            overflow: hidden;

            li {
              position: absolute;
              top: 0;
            }
          }

          > .tmall-rotation {
            > .tmall-title {
              width: 520px;
              height: 22px;
              padding: 11px 0 0;

              span img {
                display: inline-block;
                vertical-align: top;
              }

              em {
                font-size: 12px;
                color: #666;
                margin-left: 6px;
                font-style: normal;
                display: inline-block;
              }
            }

            > .tmall-images {
              width: 520px;
              height: 201px;

              .process-bar {
                width: 100%;
                height: 3px;
                background-color: #ff1648;
              }

              .images-rotation {
                width: 520px;
                height: 201px;
                overflow: hidden;
                position: relative;

                > li {
                  width: 520px;
                  height: 197px !important;
                  float: left;
                }

                .many-images {
                  overflow: hidden;
                  background-color: #ffffff;

                  ul {
                    height: 100%;

                    li {
                      float: left;

                      a {
                        width: 130px;
                        height: 68px;
                        display: inline-block;
                        text-align: center;
                        padding: 5px 0;
                        border-right: 1px solid #ebebeb;
                        border-bottom: 1px solid #ebebeb;
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;

                        img {
                          width: 84px;
                          height: 42px;
                          margin-top: 10px;
                        }
                      }
                    }
                  }
                }

                .two-images {
                  position: absolute;
                  height: 100%;
                  top: 0;

                  img {
                    position: absolute;
                    bottom: 6px;

                    &:first-child {
                      left: 0;
                    }

                    &:last-child {
                      right: 0;
                    }
                  }
                }
              }
            }
          }
        }

        > .media-control {
          float: right;
          width: 160px;
          height: 512px;
          margin: 10px 10px 0 0;

          .bottom {
            padding-top: 4px;

            h5 {
              font-size: 12px;
              font-weight: 400;
              background: #f1f1f1;
              color: #a1a1a1;
              line-height: 24px;
            }
          }
        }
      }
    }

    > .login-and-more {
      float: right;
      margin-top: 10px;
      height: 512px;
      width: 290px;
      background-color: #ffffff;

      > .login {
        width: 100%;
        height: 132px;
        padding: 3px 0 10px 0;
        background: url("../images/loginbgc.png") no-repeat;
        background-size: cover;

        > .member-bd {
          width: 100%;
          height: 91px;

          > .wrapper {
            height: 56px;
            text-align: center;

            a {
              display: inline-block;

              img {
                margin-top: 2px;
                border: 3px solid transparent;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
              }
            }
          }

          > .hello {
            text-align: center;
            height: 17px;
            color: #3C3C3C;
          }

          > .tjb {
            text-align: center;

            a {
              height: 16.8px;
              border-radius: 9px;
              background-clip: padding-box;
              background: #ffe4db;
              padding: 0 10px 0 20px;
              position: relative;
              border: none;
              display: inline-block;
              color: #ff5000;
            }

            span {
              display: inline-block;
              height: 16px;
              width: 16px;
              position: absolute;
              background: url("../images/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png") no-repeat;
              left: 0;
            }

            > .member-punch {
              span {
                background-position: 0 -572.5px;
              }
            }

            > .member-club {
              span {
                background-position: 0 -528px;
              }
            }
          }
        }

        > .member-ft {
          width: 275px;
          height: 40px;
          padding-left: 15px;

          > .member-button {
            height: 25px;
            margin-top: 8px;
            text-align: center;

            a {
              float: left;
              line-height: 25px;
              width: 75px;
              margin-right: 7px;
              text-align: center;
              color: #FFF;
              background-image: -webkit-linear-gradient(to right, #ff5000 0, #ff6f06 100%);
              background-image: -o-linear-gradient(to right, #ff5000 0, #ff6f06 100%);
              background-image: linear-gradient(to right, #ff5000 0, #ff6f06 100%);
              border-radius: 4px;
              background-clip: padding-box;
              font-size: 14px;
              font-weight: 700;

              &:first-child {
                width: 92px;
              }
            }
          }
        }
      }

      > .report {
        position: relative;
        padding-left: 82px;
        color: #ff4400;
        display: block;
        height: 26px;
        line-height: 26px;
        background: #ffe4dd;
        font-size: 12px;
      }

      > .notice {
        width: 100%;
        height: 98px;
        padding-top: 10px;

        > .notice-hd {
          width: 276px;
          height: 24px;
          padding: 0 8px;
          margin: 4px 2px 0 0;

          li {
            float: left;
            width: 32px;
            height: 20px;
            margin: 0 11px;
            line-height: 20px;
            text-align: center;

            a {
              color: #3C3C3C;
              cursor: pointer;

              &:hover {
                color: #ff4400;
              }
            }

            &.active {
              font-weight: 700;
              position: relative;

              &:after {
                content: "";
                position: absolute;
                height: 3px;
                width: 32px;
                background-color: #ff5000;
                bottom: -3px;
                left: 0;
              }
            }
          }
        }

        > .notice-bd {
          width: 266px;
          height: 50px;
          padding: 9px 0 6px 0;
          margin: 0 12px;

          li {
            float: left;
            height: 25px;
            width: 130px;

            a {
              color: #3C3C3C;

              &:hover {
                color: #ff4400;
              }
            }

            &.hotpoint {
              width: 260px;

              a {
                color: #ff4400;
              }
            }
          }
        }
      }

      > .j-module {
        width: 100%;
        height: 155px;
        overflow: hidden;
        border-top: 1px solid #f4f4f4;

        ul {
          width: 294px;

          li {
            float: left;
            width: 71px;
            height: 75px;
            border: 1px solid #f4f4f4;
            border-left-color: transparent;
            border-top-color: transparent;

            a {
              display: inline-block;
              width: 71px;
              height: 75px;
              text-align: center;

              span {
                display: block;
                width: 24px;
                height: 24px;
                margin: 11px auto 0;
                background: url("../images/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png") 0 0 no-repeat;
              }

              p {
                display: block;
                height: 24px;
                line-height: 24px;
                margin-top: 8px;
                font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
              }
            }

            &:nth-child(1) {
              .setListItemSprite(0, 0);
            }

            &:nth-child(2) {
              .setListItemSprite(0, -87px);
            }

            &:nth-child(3) {
              .setListItemSprite(0, -44px);
            }

            &:nth-child(4) {
              .setListItemSprite(0, -132px);
            }

            &:nth-child(5) {
              .setListItemSprite(0, -176px);
            }

            &:nth-child(6) {
              .setListItemSprite(0, -220px);
            }

            &:nth-child(7) {
              .setListItemSprite(0, -264px);
            }

            &:nth-child(8) {
              .setListItemSprite(0, -308px);
            }
          }
        }
      }

      > .ali-app {
        width: 100%;
        height: 76px;
        padding-top: 1px;
        position: relative;

        h3 {
          padding-left: 14px;
          height: 30px;
          font-size: 14px;
          line-height: 30px;
          position: relative;
          z-index: 2;
          color: #3C3C3C;
        }

        .more {
          position: absolute;
          top: 2px;
          right: 14px;
          width: 40px;
          height: 30px;
          text-align: center;
          z-index: 3;
          line-height: 30px;
          &:hover {
            color: #ff5000;
            text-decoration: underline;
          }
        }

        ul {
          height: 44px;
          padding-left: 23px;

          li {
            float: left;
            margin: 0 21px 21px 0;

            img {
              width: 32px;
              height: 32px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1207px) {
  .main-menu {
    > .container {
      position: relative;

      > .display-dist {
        width: 700px;

        > .goods-show {
          width: 522px;

          > .media-control {
            display: none;
          }
        }
      }

      > .login-and-more {
        position: absolute;
        top: 0;
        right: -30px;
      }
    }
  }
}
